* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --clr-fg: #00eaff;
  --clr-bg: #07444a;
  --clr-highlight: white;
}

body {
  color: var(--clr-fg);
  background-color: var(--clr-bg);
  padding: 10%;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
}
